@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

footer {
  width: 100vw;
  flex: 0 0 auto;
}

div.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 0 auto;
  background-image: url(../assets/mesh-gradient.png);
  background-size: cover;
}

h2,
h3 {
  font-weight: bold;
}

div#grid-wrapper {
  gap: 110px;
}

div#grid-wrapper {
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10vh repeat(2, 1fr);
}

div#local-weather-data {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;

  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-weight: 400;

  border-radius: 20px;
  border: 0px solid #fff;
  background: rgb(12, 12, 12);
  backdrop-filter: blur(9.8999996 18530273px);
}

div#local-weather-data > *,
div#local-weather-data p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

table#weather-overview-table {
  border: 0px solid #fff;
  backdrop-filter: blur(9.899999618530273px);
  padding: 50px;
  grid-column: 1 / span 1;
  margin: 2em;
}

table#weather-overview-table tr :nth-child(1) {
  border: none;
}

div#vertical-container {
  display: flex;
  flex-direction: column;
}

div.location-temp-container {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  gap: 50px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 51px;
  flex-shrink: 0;
  padding: 10px;
}

table#hourly-temperature-view {
  width: 100%;
}

div.hourly-temperature-view-container {
  display: flex;
  justify-content: center;
  margin: 2em;
  margin-right: 5em;
  border-radius: 20px;
}

input#location-input {
  width: 80%;
}

table {
  background-color: rgba(12, 12, 12, 1);
  color: white;
  border: none;
  -webkit-backdrop-filter: blur(10px);
}

table td {
  outline: 1px solid rgb(27, 27, 27, 0.5);
  text-align: center;
  vertical-align: middle;
}

div#cards {
  grid-column: 1 / 3;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
}

p {
  font-size: 15px;
}

button#switch-degree-measurement-button {
  display: flex;
  align-items: center;
  color: black;
  background-color: rgba(245, 245, 245);
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  border-radius: 25px;
  padding: 30px;
  margin-right: 3vw;
  text-align: center;
  outline: none;
}

div.card-container {
  display: flex;
  padding: 50px;
  padding-top: 3em;
  padding-bottom: 4em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(19, 19, 19, 1);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
}

div.card-container h3 {
  padding-bottom: 30px;
  font-size: 25px;
}

div.card-container p {
  display: flex;
  font-size: 20px;
  align-items: center;
}

ul.day-weather-info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  padding-top: 15px;
}

ul.day-weather-info-list li {
  display: flex;
  justify-content: center;
  gap: 50px;
}

div.day-weather-data-card {
  width: 100%;
}

ul.day-weather-info-list li.weather-data {
  display: flex;
  justify-content: start;
}

ul.day-weather-info-list li.weather-value {
  display: flex;
  justify-content: end;
}

.weather-card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

footer {
  height: 100%;
  background-color: #0b0000;
  font-size: 20px;
  padding: 50px;
  color: white;
  display: flex;
  margin-top: 100px;
  font-family: "Roboto Mono", monospace;
  gap: 50px;
}

div#hr {
  width: 1px;
  background-color: white;
  height: 200px;
  margin-right: 5vw;
  margin-left: 4vw;
}

p#my-ref {
  display: flex;
  align-items: center;
  font-size: 25px;
}

div.footer-main-container {
  display: flex;
  align-items: center;
}

footer ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

img#github-icon {
  margin-left: 1em;
  width: 50px;
}

a {
  color: white;
  text-decoration: none;
}

input[type="text"] {
  border: none;
  padding: 20px;
  padding-left: 2em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

input[type="text"]:focus {
  outline: none;
  color: black;
  border: 1px solid rgb(197, 197, 197);
}

button#switch-degree-measurement-button.fahrenheit {
  color: white;
  background-color: #1f1f1f;
}

img {
  fill: color;
  display: flex;
  height: 40px;
}

@media screen and (max-width: 950px) {
  div#grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  div.location-temp-container {
    grid-column: 1 / 2;
  }

  div.hourly-temperature-view-container {
    grid-column: 1 / 2;
  }

  footer {
    box-sizing: border-box;
    flex-direction: column;
  }

  div#hr {
    width: 69vw;
    height: 1px;
    align-items: center;
  }

  div#cards {
    grid-column: 1 / 2;
  }

  button#switch-degree-measurement-button {
    font-size: 15px;
  }

  div.hourly-temperature-view-container {
    margin-right: 0em;
  }

  table#weather-overview-table,
  div.hourly-temperature-view-container {
    height: 350px;
  }

  div#local-weather-data {
    height: 4em;
  }
}
